@charset "utf-8";
 
* { margin: 0; padding: 0; }
body,html { width: 100%; }
ul { list-style: none; }
a { text-decoration: none; }
img,button,input{ border: 0; outline: 0; background: transparent; user-select: none; }

/*해더부분*/

.wrap { width: 100vw; height:100vh;  }
.hd { width: 100%; height: 80px; }
.hd .hd_ul { width: 100%; height:100% }
.hd .hd_ul li { float:left; height:100%; }

/* margin-top: 10%; */
.hd .hd_ul li.menu { width: 15%; }
.hd .hd_ul li.logo { width: 60%; }
.hd .hd_ul li.search { width: 15%; }

.hd .hd_ul li.menu button,.hd .hd_ul li.logo a,.hd .hd_ul li.search button { display: block; width: 100%; height: 80%; }

.hd .hd_ul li.menu button,.hd .hd_ul li.search button { margin-top: 10%; }

.hd .hd_ul li.logo a { }
