@charset "utf-8";
 
* { margin: 0; padding: 0; }
body,html { width: 100%; font-family:"NanumBarunpenB" ,"CJ+ONLYONE+Medium","CJ+ONLYONE+Bold","sans-serif";}
ul { list-style: none; }
a { text-decoration: none;  color: #000;}
img,button,input{ border: 0; outline: 0; background: transparent; user-select: none; }
.clr { clear:both; }
.clr:after{ content: ""; display: block; clear: both; }
/*해더부분*/

.wrap { width: 75vw; height:100vh; margin: 0 auto;  }
.hd { width: 100%; height:10%; clear:both; padding-top: 1.5%; border-bottom: 1px solid #ddd; }
.hd a.logo { display: block; width: 15%; height: auto ; float:left; margin-top: 1%}
.hd a.logo img { display: block; width: 100%; height: auto; }

.hd .hd_center { width: 50%; height: auto;  float:left; margin-left: 5%; margin-top: 1.2%; }
.hd .hd_center li { height: auto ; float: left; margin-right: 5%;  }
.hd .hd_center li a { display: block;  width: 100%; height: auto; font-size: 1.5em; text-align: center; line-height: 2.0; }
.hd .hd_center li a:hover { border-bottom: 1px solid #6393ce; color:#6393ce;  }
.hd .hd_right { width: 30%; height:42%; float:right; margin-top: 1.5%;   }
.hd .hd_right li { width: 10%; height: 100%;  float:left; margin-right: 2%; }
.hd .hd_right li:first-child { width: 80%; }

.hd .hd_right li.search input { border:1px solid #ddd; width: 75%; height: 100%; border-radius: 3px; box-sizing: border-box; padding-left: 10%; }
.hd .hd_right li.search  button { width: 20%; height: 100%; background-color: #eb6101; background-image: url(../ico/bg_mainSearchBar2.png); background-repeat: no-repeat; background-position: center center; text-indent: -9999px;border-radius: 3px; }
.hd .hd_right li.menu { position:relative; }
.hd .hd_right li.menu span { display: block;  width: 100%; height: 20% ; background-color: #000; clear:both; position:absolute; left: 0; text-indent: -9999px; border-radius: 3px; }
.hd .hd_right li.menu span.bar1{top: 0; }
.hd .hd_right li.menu span.bar2{top: 40%; }
.hd .hd_right li.menu span.bar3{top: 80% }


/*모바일 하고 탭부분에 쓰기 */
.hd .search_box { clear:both; display: none;  }

/*메뉴리스트 전체메뉴*/
section.hd_side { width: 100vw; height: 100vh; position:fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.5); display: none; z-index: 99999;}

.side_wrap { margin-top: 5%; height: 75%; background-color: #e5e5fe; overflow: hidden;}
.side_wrap .hd_box01 { width: 100%; height: 13%; padding-top: 2%; box-sizing: border-box; background-color: #e5edf0; }
.side_wrap .tit_box { width: 60%; height: 10%; clear:both;   float:left; }

.side_wrap img.simbol {display: block;  width: 5%; height: auto; float:left; margin: 0 2% ; }
.side_wrap h2.tit { font-size: 2em; float:left; }
.side_wrap .menu_box { width: 40%; height:80%;  float:left;  }
.side_wrap .menu_box:after { content:""; display: block; clear:both;  }
.side_wrap .menu_box li { float:left; width: 18%;  }
.side_wrap .menu_box li a { display: block; width: 100%; line-height: 2.0; text-align: center; font-size: 1.2em;}
.side_wrap .menu_box li a:hover { background-color: #333; color:#fff; }


.side_wrap .gnb { clear:both; width: 100%; height:auto;  position:relative; }
.side_wrap .gnb .m_bg01 { width: 100%; height:100%; position:absolute; left: 0; top: 0; }
.side_wrap .gnb .txt_bg01,.side_wrap .gnb .txt_bg02 { font-size: 4.0em;  position: absolute;   color:#e5e5fe; }
.side_wrap .gnb .txt_bg01 { top: 20%; right: 10%; }
.side_wrap .gnb .txt_bg02 { top: 5%; right:3%; }

.side_wrap .gnb_lst { width: 100%; height:100%; clear:both;   }
.side_wrap .gnb_lst:after { content:""; display: block; clear:both;  }
/*옆으로 할 떄 리스트의 너비 잡지 말기 */
.side_wrap .gnb_lst > li[class*=it] { height: 15%; text-align: center;  position: relative; }
.side_wrap .gnb_lst li label { display: block; width: 15%; height: 100%; font-size: 1.4em; line-height: 4.0; background-color: #6393ce; color: #fff; border-bottom: 1px solid #ddd; }
.side_wrap .gnb_lst li label:hover { background-color:#333;  }
.side_wrap .gnb_lst .sub { float:left; position:absolute; left: 15%; top: 5%; width: 80%; }
.side_wrap .gnb_lst .sub > li { float: left; margin-left: 3%;  }
.side_wrap .gnb_lst .sub li a{ display: block; font-size: 1.4em; line-height: 3.6; }
.side_wrap .gnb_lst .sub li a:hover { text-decoration:underline; color: #6393ce; }

.side_wrap .menu_box01 { width: 80%; margin-left: 15%;}
.side_wrap .menu_box01 li { float: left;}
.side_wrap .menu_box01 li a { display: block;  width: 15vw; font-size: 1.2em; text-align: center; line-height: 4.5; }
.side_wrap .menu_box01 li a:hover { background-color: #333; color: #fff;}


/*content*/
.content { clear:both; width: 100%;  }
.content .wrap { display: flex; display:inline-flex; overflow: hidden;}
.content  div.box { width: 33.33333%; height: 85%; margin-top: 3%; }
.content  div.box h2.tit { line-height: 3.0; font-size: 2.0em; font-weight: 700; padding-left: 10% ; background-color: #9f9efa;}
.content  div.box ul { clear:both; height:100%; }
.content  div.box ul:after { content: ""; display: block; clear: both;}
.content .hexa {  width: 100%; height: 100%; position: relative; background-color:#edf0f5;  }
.content .wrap .bg02 { position: absolute; top: 0; left: 0; width: 100%; height:auto; }
.content .wrap .more_btn { width: 30%; height:5%; position:absolute;  right: 5%; top: 3.5%; font-size: 1.2em; line-height: 2.0; text-align: center; }
.content .wrap .more_btn:hover { background-color:#333; color: #fff; }
.content .hexa .hexa_box { width: 100%; height:80%;  }
.content .hexa .hex { clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); width: 20%; height:10%; position:absolute; left: 10%; top: 25%; background-color: rgba(255,255,255,0.7); border:1px solid #aaa;}

.content .hexa .hex a { display: block; text-align: center; width: 100%; height:100%; font-size: 1.2em; line-height:4;}
.content .hexa .hex:hover { transform: scale(1.2); background-color: #333;   }
.content .hexa .hex:hover a { color: #fff;}
.content .hexa .hexa1 { left:35%; }
.content .hexa .hexa2 { left:35%; top:35.5%; }
.content .hexa .hexa3 { left:35%; top:46%;}
.content .hexa .hexa4 { left:35%; top:56.5%;}
.content .hexa .hexa5 { left:35%; top:67%;}
.content .hexa .hexa6 { left:35%; top:77.5%;}

.content .hexa .hexa7 { left:56%; top: 14.5%;}
.content .hexa .hexa8 { left:56%; top: 25%}
.content .hexa .hexa9 { left:56%; top: 35.5%}
.content .hexa .hexa10 { left:56%; top: 46%}
.content .hexa .hexa11 { left:56%; top: 56.5%}
.content .hexa .hexa12 { left:56%; top: 67%}

.content .hexa .hexa13 { left:77%; top:46%; }
.content .hexa .hexa14 { left:77%; top:56.5%; }
.content .hexa .hexa15 { left:77%; top:67%; }

.content .hexa .hexa16 { left:76%; top:19.5%;}
.content .hexa .hexa17 { left:16%; top:51%;}

/*box money*/
.content .money .section { width: 100%; height:11%; background-color: #3261b5; margin-bottom: 1%; position: relative; overflow: hidden; transition:0.8s; }
.content .money .section h2.tit { background-color: #edf0f5;}
.content .money .section .section_bg { width: 50%; height: auto; position: absolute; top: 5%; right: 0;}
.content .money .section ul.lst { position: absolute; top: 60%; left: 5%; display: none; }
.content .money .section ul.lst li { width: 49%; float:left; list-style: circle; margin-right:1%; color: #fff;}
.content .money .section ul.lst li a { display: block; width:100%; line-height: 2.0; font-size: 1.2em; color: #fff; }
.content .money .section ul.lst li a:hover { text-decoration: underline; }


.content .money .section.on { height:24.5%; }
.content .money .section.on h2.tit { color: #fff; background-color:#3261b5; }
.content .money .section.on ul.lst { display: block; }

.content .money .notice { width: 100%; height:calc(100% - 60%); margin-top: 2%;}
.content .money .notice h2.tit { background-color:#28467c; color: #fff; line-height: 2.0; }

.content .money .notice .tb { display: table; border-collapse: collapse; }
.content .money .notice tr { display: table-row; }
.content .money .notice th,.content .money .notice td { display: table-cell; }
.content .money .notice .tb .cel1 { width: 60%; line-height: 2.0 }
.content .money .notice .tb .cel2 { width: 30%; }
/*테이블브터다시하기*/
